@page
@model Afrowave.SharedTools.Docs.Pages.RealTimeModel
@inject IStringLocalizer<RealTimeModel> _localizer;
@{
	ViewData["Title"] = _localizer["Realtime"];
	ViewData["CanonicalUrl"] = Url.Page("/RealTime", null, null, Request.Scheme);
}
@section Scripts {
	<script src="~/js/realtime.js"></script>
}

<h2>@_localizer["Realtime"]</h2>
<hr />
<div class="row">
	
	<!-- Column 1 -->
	<div class="col-md-5">
		<h4>@_localizer["JSON Dictionaries"]</h4>
		<hr />
	</div>
	
	<!-- Column 2 -->
	<div class="col-md-5">
		<h4>@_localizer["MD Help files"]</h4>
		<hr />
	</div>
	
	<!-- Column 3 -->
	<div class="col-md-2">
		<h4>@_localizer["General info"]</h4>
		<hr />
		<h5>@_localizer["Status"]</h5>
		<hr />
		<div class="block" id="status_table">
					
		</div>
	</div>
</div>


