@page
@model Afrowave.SharedTools.Docs.Pages.RealTimeModel
@inject IStringLocalizer<RealTimeModel> _localizer;
@{
	ViewData["Title"] = _localizer["Realtime"];
	ViewData["CanonicalUrl"] = Url.Page("/RealTime", null, null, Request.Scheme);
}
@section Scripts {
	<script src="~/js/realtime.js"></script>
}

<h2>@_localizer["Realtime"]</h2>
<hr />
<div class="row">
	
	<!-- Column 1 -->
	<div class="col-md-5">
		<h4>@_localizer["JSON Dictionaries"]</h4>
		<hr />
		<div id="json_table" style="display: none;">
		</div>
	</div>
	
	<!-- Column 2 -->
	<div class="col-md-5">
		<h4>@_localizer["MD Help files"]</h4>
		<hr />
		<div id="md_table" style="display: none;">
		</div>
	</div>
	
	<!-- Column 3 -->
	<div class="col-md-2">
		<h4>@_localizer["General info"]</h4>
		<hr />
		<!-- Here we put basic info and also progress of translating of the language names -->
		<div class="block">
			<div>
				<span id="last_update_tick">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span style="margin-right: 5px;">@_localizer["Last update"]:</span>
				<span id="last_update" class="fw-bold highlight">&nbsp;</span>
			</div>
			<hr />
			<div>
			<span id="languages_received_tick">&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span style="margin-right: 5px;">@_localizer["Libretranslate languages count"]:</span>
			<span id="languages_count" class="fw-bold highlight">&nbsp;</span>
			</div>
			<div>
				<span id="default_language_tick">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span style="margin-right: 5px;">@_localizer["Default language"]:</span>
				<span id="default_language" class="fw-bold highlight">&nbsp;</span>
			</div>
			<div>
				<span id="ignore_json_tick">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span style="margin-right: 5px;">@_localizer["Ignored languages for JSON"]:</span>
				<span id="ignore_json" class="fw-bold highlight">&nbsp;</span>
			</div>
			<div>
				<span id="ignore_md_tick">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span style="margin-right: 5px;">@_localizer["Ignored languages for MD"]:</span>
				<span id="ignore_md" class="fw-bold highlight">&nbsp;</span>
			</div>
		</div>
		<div class="block" id="languages_translate_info" style="display:none">
			<h6>@_localizer["Language names translation"]</h6>
			<!--
				<progress id="language_names_translation_progress" style="width: 100%"></progress>
			-->
			<div class="multi-progress" id="language_segmented_progress"></div>
			<div id="language_progress_text" class="dimmed small"></div>
		</div>
	</div>
</div>


