@inject IStringLocalizer<IndexModel> _localizer;
@inject ICookieService _cookie_service;
@inject IOptionsService _options_service;
@inject ILanguageService _language_service;
@{
    var theme = _cookie_service.GetOrCreateCookie("theme", "dark", 0);
    var style = $"/css/{theme}-theme.css";
    string selected = _cookie_service.GetCookie("language") ?? "en";
    string direction = _language_service.IsRtl(selected) ? "rtl": "ltr";

    List<SelectListItem> languageSelect = _options_service.GetLanguagesOptionsAsync(selected);
    List<SelectListItem> themes = _options_service.GetThemes(theme);

}
<!DOCTYPE html>
<html lang="@selected" dir="@direction">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Afrowave.SharedTools.Docs</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@style" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div id="app">
        <!-- Top Bar -->
        <nav id="top-bar" class="navbar fixed-top">
            <div class="container-fluid">
                <a href="#" id="menu-toggle" class="btn">
                    <span class="emoji">📑</span>
                </a>
                <div id="top-icons" class="d-flex">
                    <!-- Theme changer, language changer, user icon (if user is logged in) -->
                    <span>
                        <select id="language-selector"
                            style="margin-right: 10px; padding-top:2px; padding-bottom: 2px; padding-left: 5px;"
                            onchange="changeLanguage(this.value)"
                            class="nav-item nav-link form"
                            asp-items="@languageSelect">
                        </select>
                    </span>
                    <span>
                        <select id="theme_selector" class="nav-item nav-link form"
                            style="margin-right: 10px; padding-top:2px;  padding-bottom: 2px; padding-left: 5px;"
                            onchange="setTheme(this.value)" asp-items="@themes">
                        </select>
                    </span>
                    @if(User is null || !User.Identity.IsAuthenticated)
                    {
                        <span>
                            <a href="#" class="nav-link" onclick="login()" title="@_localizer["Login"]">🔐</a>
                        </span>
                    }
                    @if(User is not null && User.Identity.IsAuthenticated)
                    {
                        <span>
                            <a href="#" class="nav-link" onclick="home()" title="@_localizer["Home"]">🏠</a>
                        </span>
                        <span>
                            <a href="#" class="nav-link" onclick="logs()" title="@_localizer["Logs"]">📊</a>
                        </span>
                        <span>
                            <a href="#" class="nav-link" onclick="notifications()" title="@_localizer["Notifications"]">🔔</a>
                        </span>
                        <span>
                            <a href="#" class="nav-link" onclick="profile()" title="@_localizer["Profile"]">👤</a>
                        </span>
                    }
                    <span>
                        <a href="#" class="nav-link" onclick="settings()" title="@_localizer["Settings"]">⚙️</a>
                    </span>
                </div>
            </div>
        </nav>

        <!-- Side navigation -->
        <div id="side-nav" class="sidenav">
            <ul id="nav-items" class="nav flex-column">
                <!-- Here we need to draw the navigation tree -->
            </ul>
        </div>

        <!-- Main content -->
        <main id="main-content" class="main-content">
            <div class="container-fluid mt-5 pt-4">
               @RenderBody()
            </div>
        </main>
        <footer class="footer d-flex" id="footer">
            <div class="footer-element" id="open-status" title="Open HUB">1</div>
            <div class="footer-element" id="admin-status" title="Admin HUB">2</div>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="/js/signalr-connections-manager.js"></script>
	<script src="/js/api.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if(User is not null && User.Identity.IsAuthenticated)
    {
        <script src="~/js/admin-signalr-hub.js"></script>
        <script language="javascript">
            let userLoggedIn = true;
        </script>
	}
    @if(User is null || !User.Identity.IsAuthenticated)
    {
        <script language="javascript">
            let userLoggedIn = false;
        </script>
    <script src="/js/open-signalr-hub.js"></script>
    }


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
